altgraph== 0.17.3
black==23.7.0
click==8.1.5
Django==4.2.3
future==0.18.3
gunicorn==20.1.0
macholib==1.16.2
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.8.1
six==1.16.2 
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.7.1
